// css footer
footer {
  background-color: #214c39;
  .footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &_logo {
      width: 250px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_address,
    &_phone {
      @include text(16px, EN, 34px, $white-cl, none);
      letter-spacing: -0.03em;
      padding-top: 18px;
    }
    &_phone {
      padding-top: 0px !important;
    }
    &_social {
      display: flex;
      align-items: center;
      padding-top: 10px;
      &-item {
        width: 40px;
        height: 40px;
        border: $white-cl solid 2px;
        border-radius: 50%;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 20px;
            height: 20px;
            object-fit: contain;
          }
        }
      }
    }
    &_back {
      animation: backtop 0.75s ease-in-out infinite alternate;
      position: absolute;
      right: -10px;
      // cursor: pointer;
      &-backTop {
        display: flex;
        align-items: center;
        transform: rotate(90deg);
        @include text(16px, "CT", 34px, $white-cl, none);
        img {
          margin-right: 10px;
        }
      }
    }
  }
}
@include xxs {
  footer {
    .footer_logo {
      width: 170px;
    }
    .footer_address {
      padding-top: 10px;
      text-align: center;
      font-size: 14px;
    }
    .footer_back {
      display: none;
    }
  }
}
