body {
  section {
    height: 100vh;
    @include mid(true);
  }
  .information {
    margin-top: 20px;
    position: relative;
    .container {
      position: absolute;
      z-index: 2;
      .left {
        position: relative;
        display: flex;
        justify-content: center;
        .image {
          width: var(--sizedWhatDoWeDoImage);
          height: var(--sizedWhatDoWeDoImage);
          overflow: hidden;
          border-radius: 100%;
          position: relative;
          z-index: 2;
          transition: $t;
          cursor: pointer;
          img {
            @include midimg(606px);
          }
        }
        &::before {
          position: absolute;
          width: var(--sizedWhatDoWeDoImage);
          height: var(--sizedWhatDoWeDoImage);
          left: var(--leftBeforeImage);
          top: var(--topBeforeImage);
          content: "";
          background: $yellow-cl;
          border-radius: 100%;
          transition: $t;
        }
        &::after {
          position: absolute;
          right: 20px;
          bottom: -50px;
          width: var(--sizedWhatDoWeDoImage);
          height: var(--sizedWhatDoWeDoImage);
          content: "";
          z-index: 1;
          background: $green-cl;
          border-radius: 100%;
          transition: $t;
        }
        .circle-right {
          position: absolute;
          right: 0;
          top: 0;
          opacity: 1;
          transition: $t;
        }
        .circle-left {
          position: absolute;
          left: 0;
          bottom: 0;
          opacity: 1;
          transition: $t;
        }
        &:hover {
          &::before {
            transform: translate(50px, -50px);
            transition: $t;
          }
          &::after {
            transform: translate(-50px, 50px);
            transition: $t;
          }
          .circle-right {
            opacity: 0;
            transition: 0.2s;
          }
          .circle-left {
            opacity: 0;
            transition: 0.2s;
          }
          .image {
            transform: scale(0.85);
            transition: $t;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .studySettle {
    padding-top: 150px;
    padding-bottom: 70px;
    position: relative;
    width: 100%;
    .background-v1 {
      position: absolute;
      background: $white-blue;
      height: 52%;
      top: 0;
      left: 0;
      right: 0;
    }
    .background-v2 {
      position: absolute;
      background: $white-cl;
      height: 48%;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .content {
      position: relative;
      z-index: 3;
      width: 100%;
      .left {
        &-title {
          text-align: right;
          position: relative;
          margin-bottom: 100px;

          .title-two {
            top: 150px;
            right: 0;
            position: absolute;
          }
        }
        .paragraph {
          text-align: right;
          position: relative;
          height: 300px;
          &-text {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transform: translateY(100px);
            transition: $t;
            &.active-content {
              visibility: visible;
              opacity: 1;
              transform: translateY(0px);
              transition-delay: $t + 0.5s !important;
              transition: 0.5s;
            }
          }
        }
      }
      .right {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        .flickity-button {
          background: transparent !important;
          color: white;
          transition: $t;
        }
        .slider_child {
          width: 100%;
          height: 100%;
          overflow: hidden;
          .image {
            position: relative;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            &::before {
              position: absolute;
              width: 100%;
              height: 100%;
              content: "";
              background: rgba(0, 0, 0, 0.6);
              z-index: 1;
              transition: $t;
            }
            .name {
              @include text(50px, "AV", normal, $white-cl, none);
              letter-spacing: -0.03em;
              position: absolute;
              bottom: 25px;
              left: 50%;
              transform: translateX(-50%);
              z-index: 2;
              opacity: 0;
              transition: opacity 0.2s ease-in-out;
            }
          }
        }
        .is-selected {
          .image .name {
            transition-delay: $t + 0.2s !important;
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
          }
        }
      }
    }
    .background-circle {
      background: $yellow-cl;
      position: absolute;
      width: 980px;
      height: 980px;
      border-radius: 100%;
      right: -300px;
      top: -300px;
      z-index: 1;
    }
  }
}
@media (max-width: $lg-max) {
  body {
    .studySettle {
      .content {
        .left {
          &-title {
            margin-bottom: 50px;
          }
          .paragraph {
            height: 200px;
          }
        }
      }
    }
  }
}
