//---------------------------------------------------- What do we do & study abroad & feedback -------------------------------------
body {
  .scrolling-box {
    scroll-behavior: smooth;
    transition: 5s ease-in-out;
  }
  section {
    height: 100vh;
    @include mid(true);
  }
  .information {
    margin-top: 20px;
    position: relative;
    .container {
      position: absolute;
      z-index: 2;
      .left {
        position: relative;
        display: flex;
        justify-content: center;
        .image {
          width: var(--sizedWhatDoWeDoImage);
          height: var(--sizedWhatDoWeDoImage);
          overflow: hidden;
          border-radius: 100%;
          position: relative;
          z-index: 2;
          transition: $t;
          img {
            @include midimg(606px);
          }
        }
        &::before {
          position: absolute;
          width: var(--sizedWhatDoWeDoImage);
          height: var(--sizedWhatDoWeDoImage);
          left: var(--leftBeforeImage);
          top: var(--topBeforeImage);
          content: "";
          background: $yellow-cl;
          border-radius: 100%;
          transition: $t;
        }
        &::after {
          position: absolute;
          right: var(--rightAfterImage);
          bottom: var(--bottomAfterImage);
          width: var(--sizedWhatDoWeDoImage);
          height: var(--sizedWhatDoWeDoImage);
          content: "";
          z-index: 1;
          background: $green-cl;
          border-radius: 100%;
          transition: $t;
        }
        .circle-right {
          position: absolute;
          right: 0;
          top: 0;
          opacity: 1;
          transition: $t;
        }
        .circle-left {
          position: absolute;
          left: 0;
          bottom: 0;
          opacity: 1;
          transition: $t;
        }
        &:hover {
          &::before {
            transform: translate(50px, -50px);
            transition: $t;
          }
          &::after {
            transform: translate(-50px, 50px);
            transition: $t;
          }
          .circle-right {
            opacity: 0;
            transition: 0.2s;
          }
          .circle-left {
            opacity: 0;
            transition: 0.2s;
          }
          .image {
            transform: scale(0.85);
            transition: $t;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .studySettle {
    padding-top: 150px;
    padding-bottom: 70px;
    position: relative;
    width: 100%;
    .background-v1 {
      position: absolute;
      background: $white-blue;
      height: 52%;
      top: 0;
      left: 0;
      right: 0;
    }
    .background-v2 {
      position: absolute;
      background: $white-cl;
      height: 48%;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .content-study {
      position: relative;
      z-index: 3;
      width: 100%;
      .left {
        &-title {
          text-align: right;
          position: relative;
          margin-bottom: 100px;
          .title-two {
            top: 150px;
            right: 0;
            position: absolute;
          }
        }
        .paragraph {
          text-align: right;
          position: relative;
          height: 300px;
          &-text {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transform: translateY(100px);
            transition: $t;
            &.active-content {
              visibility: visible;
              opacity: 1;
              transform: translateY(0px);
              transition-delay: $t + 0.5s !important;
              transition: 0.5s;
            }
          }
        }
      }
      .right {
        width: 100%;
        height: calc(100vh - 150px - 70px);
        border-radius: 10px;
        overflow: hidden;
        .flickity-button {
          display: none;
          background: transparent !important;
          color: white;
          transition: $t;
        }
        .slider_child {
          width: 100%;
          height: 100%;
          overflow: hidden;
          .image {
            position: relative;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            &::before {
              position: absolute;
              width: 100%;
              height: 100%;
              content: "";
              background: rgba(0, 0, 0, 0.4);
              z-index: 1;
              transition: $t;
            }
            .name {
              @include text(50px, "AV", normal, $white-cl, none);
              letter-spacing: -0.03em;
              position: absolute;
              bottom: 25px;
              left: 50%;
              transform: translateX(-50%);
              z-index: 2;
              opacity: 0;
              transition: opacity 0.2s ease-in-out;
            }
          }
        }
        .is-selected {
          .image .name {
            transition-delay: $t + 0.2s !important;
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
          }
        }
      }
    }
    .background-circle {
      background: $yellow-cl;
      position: absolute;
      width: 980px;
      height: 980px;
      border-radius: 100%;
      right: -350px;
      top: -300px;
      z-index: 1;
    }
  }
  .aboutUs {
    padding-top: 90px;
    padding-bottom: 20px;
    .content-about {
      position: relative;
      height: calc(100vh - (90px + 20px));
      .slider {
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        .flickity-prev-next-button {
          z-index: 10;
          transform: none;
          bottom: 10px;
          top: unset;
          left: unset;
          right: unset;
        }
        .flickity-prev-next-button.next {
          right: 10px;
          // bottom: 0;
        }
        .flickity-prev-next-button.previous {
          // bottom: 0;
          right: 80px;
        }
      }
      .image {
        position: relative;
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
        img {
          position: absolute;
          @include midimg(calc(100% - (90px + 20px)));
        }
      }
      .paragraph {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 30px;
        color: $white-cl;
        background: $green-cl;
        border-radius: 10px;
        font-family: "AV";
        z-index: 10;
        transition: $t;
        &-name {
          font-size: 35px;
          letter-spacing: 0.03em;
        }
        &-sub {
          font-size: 14px;
          color: #d2d1d1;
          margin-bottom: 10px;
        }
        &-text {
          font-size: 16px;
          letter-spacing: 0.015em;
          line-height: 27px;
        }
        .social {
          display: flex;
          align-items: center;
          margin-top: 10px;
          .icon {
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
        }
        &-name,
        &-sub,
        &-text,
        .social {
          visibility: hidden;
          opacity: 0;
          transition: $t;
          transform: translateY(10%);
          // transition-delay: calc(var(--delay));
        }
        &.active--Aboutus {
          z-index: 11;
          .paragraph-name,
          .paragraph-sub,
          .paragraph-text,
          .social {
            visibility: visible;
            opacity: 1;
            transition: $t;
            transform: translateX(0);
            transition-delay: calc(var(--delay)) !important;
          }
        }
      }
    }
  }
  .shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 980;
    visibility: hidden;
    opacity: 0;
    transition: $t;
  }
  .popup {
    visibility: hidden;
    opacity: 0;
    transition: $t;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white-cl;
    border-radius: 10px;
    z-index: 981;
    overflow: hidden;
    &_title {
      font-size: 50px;
      font-family: "AV";
    }
    &_content {
      height: 100%;
      &-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &::before {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.1);
          z-index: 9;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          text-align: center;
          margin-top: 40px;
          margin-bottom: 40px;
        }
        &-content {
          margin-bottom: 10px;
          .label {
            font-family: "AV";
            font-size: 20px;
          }
          input {
            height: 40px;
            width: 100%;
            outline: none;
            border: none;
            border-radius: none;
            cursor: none;
            box-shadow: none;
            border-bottom: 1px solid #d3d3d3;
          }
        }
        .button {
          width: 50%;
          margin: 30px auto 0;
        }
      }
    }
  }
  .activePopup {
    visibility: visible;
    opacity: 1;
    transition: $t;
  }
}
@media (max-width: $lg-max) {
  body {
    .studySettle {
      .content-study {
        .left {
          &-title {
            margin-bottom: 50px;
          }
          .paragraph {
            height: 200px;
          }
        }
      }
    }
  }
}

@include md {
  body {
    .information .container .row {
      width: 100%;
      justify-content: center;
      text-align: center;
      .left {
        .image {
          img {
            @include midimg(400px);
          }
        }
        .circle-right {
          right: 80px;
          top: -40px;
        }
        .circle-left {
          left: 80px;
          bottom: -40px;
        }
      }
      .right {
        margin-top: 100px;
        align-items: center;
      }
    }
    .studySettle {
      width: inherit;
      padding-top: 65px;
      .content-study {
        .container .row {
          .left-title {
            margin-bottom: 30px;
            span {
              font-size: 100px !important;
            }
            .title-two {
              top: 100px;
            }
          }
          .left .paragraph {
            height: 150px;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .registerButton {
            margin-top: 0px;
            margin-bottom: 15px;
          }
          .right {
            height: calc(100vh - 475px);
          }
        }
      }
    }
    .aboutUs {
      .container {
        .content-about {
          .row {
            .titleAbout {
              height: 0px;
            }
            .imageAbout {
              height: calc(100vh - 300px);
            }
          }
          .paragraph {
            top: 80%;
            padding: 10px 20px;
            &-text {
              font-family: "EB";
              font-size: 14px;
              line-height: 20px;
            }
            &-name {
              font-size: 25px;
            }
            .social {
              margin-top: 5px;
              .icon {
                width: 30px;
                height: 30px;
              }
            }
          }
          .flickity-button {
            z-index: 15;
            bottom: 110px;
          }
        }
      }
    }
  }
}
@include sm {
  body{
    .popup {
      &_content {
        .col-lg-7 {
          height: 40%;
          &-image {
            position: unset;
          }
        }
        .form {
          padding: 0 20px;
          .title {
            font-size: 30px;
            margin: 20px 0;
          }
          &-content {
            .label {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 819px) and (min-width: 769px) {
  .aboutUs {
    .container {
      .content-about {
        .row {
          .titleAbout {
            height: 0px;
          }
          .imageAbout {
            height: calc(100vh - (90px + 20px)) !important;
          }
        }
        .paragraph {
          top: 50% !important;
        }
      }
    }
  }
}
@media (max-width: 820px) and (min-width: 769px) {
  .aboutUs {
    .flickity-button {
      bottom: 170px !important;
    }
    .paragraph {
      padding: 20px !important;
    }
  }
}
@include xs {
  body {
    .information {
      .container .row {
        width: auto;
        .left {
          .image {
            img {
              @include midimg(300px);
            }
          }
          .circle-right {
            display: none;
          }
          .circle-left {
            display: none;
          }
        }
        .right {
          margin-top: 80px;
          align-items: center;
          .row {
            width: 100%;
          }
        }
      }
    }
    .studySettle {
      padding: 50px 15px 0;
      width: inherit;
      .content-study {
        .container {
          .row {
            flex-direction: column-reverse;
            .left-title {
              margin-bottom: 40px;
              span {
                font-size: 60px !important;
                line-height: 65px;
              }
              .title-two {
                top: 55px;
              }
            }
            .left .paragraph {
              height: 150px;
              white-space: wrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .right {
              height: calc(100vh - 450px);
              .flickity-button {
                display: block;
                z-index: 10;
                width: 30px;
              }
              .slider_child .image .name {
                font-size: 30px;
                bottom: 15px;
              }
            }
          }
        }
      }
      .background-circle {
        right: -556px;
        top: -268px;
      }
    }
    .aboutUs {
      .container {
        .content-about {
          .row {
            .titleAbout {
              height: 0px;
            }
            .imageAbout {
              height: calc(100vh - 300px);
            }
          }
          .paragraph {
            top: 80%;
          }
        }
      }
    }
    .popup {
      height: 90%;
      &_content {
        .col-lg-7 {
          height: 40%;
          &-image {
            position: unset;
          }
        }
        .form {
          padding: 0 15px;
          .title {
            font-size: 25px;
            margin: 10px 0;
          }
          &-content {
            .label {
              font-size: 14px;
            }
            input {
              height: 30px;
            }
          }
          .button {
            margin: 10px auto 0;
            font-size: 14px;
            height: 40px;
            padding: 10px;
          }
        }
      }
    }
  }
}
