.family {
    width: 100%;
    flex-direction: column;
    &__title {
        height: 20%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        @include text(70px, AV, 96px, $black-cl, none);
        padding-bottom: 20px;
    }
    &__img {
        height: 80%;
        width: 100%;
        &_list {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: minmax(50%, auto);
            &-item {
                width: 100%;
                position: relative;
                overflow: hidden;
                // cursor: pointer;
                &:nth-child(1) {
                    margin-bottom: 25px;
                }
                &:nth-child(2) {
                    margin-bottom: -25px;
                }
                &:nth-child(3) {
                    margin-top: -25px;
                }
                &:nth-child(4) {
                    margin-top: 25px;
                }
                &:nth-child(5) {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 3;
                    grid-column-end: 4;
                }
                img {
                    width: 100%;
                    height: 100%;
                    @include midimg(100%);
                    transform: translate(-50%, -50%) scale(1);
                    @include transition($t);
                }
                &--opacity {
                    width: 100%;
                    height: 100%;
                    @include mid(false);
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
                    opacity: 0;
                    pointer-events: none;
                    @include transition($t);
                }
                &--content {
                    opacity: 0;
                    @include transition($t);
                    // pointer-events: none;
                    @include mid(false);
                    width: 80%;
                    height: 80%;
                    border: 2px solid #fba310;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition-delay: calc(var(--delay));
                    .name {
                        opacity: 0;
                        visibility: hidden;
                        transition-delay: calc(var(--delay));
                        transform: translateY(-10%);
                        @include transition($t);
                        @include text(40px, AV, 45px, $white-cl, none);
                        letter-spacing: -0.03em;
                        text-align: center;
                    }
                    .button {
                        opacity: 0;
                        visibility: hidden;
                        transition-delay: calc(var(--delay));
                        transform: translateY(-10%);
                        @include transition($t);
                        padding: 13px 34px;
                        width: max-content;
                    }
                }
                &:hover {
                    img {
                        @include transition($t);
                        transform: translate(-50%, -50%) scale(1.2);
                    }
                    .family__img_list-item--opacity {
                        opacity: 1;
                        @include transition($t);
                    }
                    .family__img_list-item--content {
                        opacity: 1;
                        @include transition($t);
                        transition-delay: calc(var(--delay));
                        .name,
                        .button {
                            opacity: 1;
                            visibility: visible;
                            transition-delay: calc(var(--delay));
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
}

//-----------------------------------------------------------contact---------------------------------------------------
.contact {
    width: 100%;
    position: relative;
    flex-direction: column;
    background: url("/img/background-contact.jpg"), #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @include text(70px, AV, 96px, $white-cl, none);
        // padding-bottom: 20px;
    }
    &__content {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        &_form {
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            border-radius: 10px 0px 0px 10px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-item {
                width: 100%;
                padding-bottom: 20px;
                position: relative;
                // label {
                //     position: absolute;
                //     top: 38.5%;
                //     left: 15px;
                //     transform: translateY(-50%);
                //     @include text(16px, AV, normal, $white-cl, none);
                //     letter-spacing: -0.03em;
                //     opacity: 0.5;
                //     user-select: none;
                //     pointer-events: none;
                //     transition: $t;
                // }
                input {
                    width: 100%;
                    height: 45px;
                    border: none;
                    border-bottom: $white-cl 1px solid;
                    outline: none;
                    background-color: transparent;
                    // border-radius: 5px;
                    padding: 15px;
                    @include text(16px, AV, normal, $white-cl, none);
                    letter-spacing: -0.03em;
                    &::placeholder {
                        @include text(16px, AV, normal, $white-cl, none);
                        opacity: 0.5;
                    }
                    // transition: $t;
                    // z-index: 1;
                    // &:not(:placeholder-shown) + label,
                    // &:focus + label {
                    //     transition: $t;
                    //     opacity: 1;
                    //     top: 0;
                    //     left: 6px;
                    //     padding: 10px;
                    //     display: inline-block;
                    //     background: transparent;
                    //     z-index: 10;
                    // }
                }
                textarea {
                    width: 100%;
                    height: 80 px;
                    border: none;
                    border-bottom: $white-cl 1px solid;
                    outline: none;
                    background-color: transparent;
                    // border-radius: 5px;
                    padding: 15px;
                    resize: none;
                    @include text(16px, AV, normal, $white-cl, none);
                    letter-spacing: -0.03em;
                    &::placeholder {
                        @include text(16px, AV, normal, $white-cl, none);
                        opacity: 0.5;
                    }
                    // transition: $t;
                    // z-index: 1;
                    // &:not(:placeholder-shown) + label,
                    // &:focus + label {
                    //     transition: $t;
                    //     opacity: 1;
                    //     top: 0;
                    //     left: 6px;
                    //     padding: 10px;
                    //     display: inline-block;
                    //     background: transparent;
                    //     z-index: 10;
                    // }
                }
            }
            .button {
                padding: 27px 107px;
                width: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0;
            }
        }
        &_img {
            width: 50%;
            position: absolute;
            height: 70%;
            overflow: hidden;
            img {
                @include midimg(initial);
            }
        }
    }
    &.left-to-right {
        .container contact__content {
            justify-content: flex-start;
        }
        .contact__content_img {
            right: 0;
        }
    }
}

//---------------------------------------------------Feed back ---------------------------------------------------
.feedback {
    width: 100%;
    position: relative;
    background-color: #f4f6fd;
    &__backgroundOrange {
        background-color: #fba310;
        width: 100%;
        height: 50vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .container {
        height: 100%;
        z-index: 10;
        position: relative;
    }
    &__control {
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_prev,
        &_next {
            img {
                width: 15px;
            }
        }
        &_prev {
            margin-left: -55px;
        }
        &_next {
            margin-right: -55px;
        }
    }
    &__title {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 20px;
        .title-sub {
            color: $white-cl;
            &::before {
                background-color: $white-cl;
            }
        }
        &_label {
            color: $white-cl !important;
        }
    }
    &__content {
        width: 100%;
        height: 65%;
        &_list {
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            &-item {
                width: 33%;
                height: 80%;
                background: $white-cl;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 30px;
                // &.is-selected{
                //     width: 50%;
                //     height: 95%;
                //     padding: 40px;
                //     .feedback__content_list-item--avatarName{
                //         .avatar{
                //             width: 87px;
                //             height: 87px;
                //         }
                //         .name{
                //             font-size: 50px;
                //         }
                //     }
                //     .feedback__content_list-item--rating{
                //         img{
                //             width: 30px;
                //             height: 30px;
                //         }
                //     }
                //     .feedback__content_list-item--text,  .feedback__content_list-item--day{
                //         font-size: 25px;
                //     }
                // }
                &--avatarName {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .avatar {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        position: relative;
                        overflow: hidden;
                        img {
                            @include midimg(initial);
                        }
                    }
                    .name {
                        padding-left: 20px;
                        @include text(25px, AV, 34px, $black-cl, none);
                        letter-spacing: -0.03em;
                    }
                }
                &--rating {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 10px 0;
                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
                &--text {
                    height: 150px;
                    width: 100%;
                    padding-bottom: 10px;
                    @include text(18px, EB, 28px, $black-cl, none);
                }
                &--day {
                    width: 100%;
                    text-align: right;
                    @include text(18px, EB, 28px, $black-cl, none);
                }
            }
        }
    }
}
